* {
  color: #FFF;
}

nav {
  margin: 10px 5px;
  float: right;
  padding: 15px;
}

a {
  padding: 10px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  letter-spacing: 1px;
  color: #FFF;
  border-width: thin;
}

a:hover {
  border-style: solid;
  border-color: #000;
  color: #000;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  min-width: 450px;
}
/*
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  color: #000;
  opacity: .6;
}
*/
.btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
  opacity: .9;
  margin: 5px;
}

.container-fluid {
  margin: 75px 100px;
}


#index-div  {
  position: fixed;
  top: 35%;
  width: 100%;
  text-align: center;
}

#greeting {
  font-family: "Castellar", Georgia, Serif;
  font-size: 50px;
  text-shadow: 2px 2px #000;
}

/* BACKGROUND IMAGE STYLES */

#index-img {
  background: #D5CFE1 url("images/index-img.png") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

#about-img {
  background: #D5CFE1 url("images/about-img.png") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

#portfolio-img {
  background: #D5CFE1 url("images/portfolio-img.png") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

#contact-img {
  background: #D5CFE1 url("images/contact-img.png") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

/*LOGO STYLE*/

#logo-link {
  border-style: none;
  text-decoration: none;
}

#logo-link:active {
  background-color: transparent;
}

#logo-img {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  width: 60px;
  height: 60px;
}

#about {
  border: thin solid white;
  background-color: #000;
  opacity: .7;
  text-align: left;
  padding: 10px 30px 30px;
  margin-top: 35px;
  margin-left: auto;
  overflow: auto;
}

#prof-pic {
  margin-top: 25px;
}

@media screen and (max-width: 510px) {
  nav {
    float: none;
    text-align: center;
    background-color: #FFF;
    opacity: .6;
  }

  a {
    color: #000;
  }

  #logo-img {
    float: none;
  }

  #about {
    margin-left: 0px;
  }
  .container-fluid {
    margin: 35px 75px
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  #about {
    margin-bottom: 30px;
    margin-left: 40px;
  }
}
